menuconfig BPS_UTILITY
	bool "BPS Utility drivers"
	default n
	---help---
	  Build BPS utility drivers.

if BPS_UTILITY

config BPS_BT_ENABLE
	tristate "BT Enabler"
	depends on ARCH_LPC313X && m
	help
	  Utility driver for enabling BT chips in BPS boards.

config BPS_REBOOT
	tristate "Reboot Module"
	depends on ARCH_LPC313X && m
	help
	  Utility driver for rebooting the BPS board.

config BPS_LED
	tristate "LED Module"
	depends on ARCH_LPC313X && m
	help
	  Module for controlling LEDs in the BPS board.
	  

endif
